.contacto-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: sans-serif;
}

.contacto-card {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}


.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto; 
  text-align: left; 
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contacto-form button {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contacto-info {
  margin-top: 30px;
  font-size: 16px;
}

.contacto-info a {
  color: blue;
  text-decoration: underline;
}
