.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* no min-height */
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login-button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-link {
    font-size: 14px;
    text-align: center;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  